@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);

html,
body {
  font-family: "Josefin Sans", sans-serif; /*Specify your font name here*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#search_bar {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#filter_btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-demo {
  height: 5000px;
}
